<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
 <light>06:01</light>
 <dark>18:35</dark>
 <lightbrightness>32</lightbrightness>
 <darkbrightness>22</darkbrightness>
 <lightTheme>false</lightTheme>
 <darkTheme>false</darkTheme>
</Configuration>


<!--
for windows 10 and 11 ( < 22H2 )
lightTheme,darkTheme (change theme) - example: <lightTheme>hcwhite.theme</lightTheme> (*.theme in script folder)
-->